body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 1rem;
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.4rem;
  }
}

::placeholder {
  color: #6c757d;
}

select:invalid {
  color: #6c757d;
  opacity: 0.65;
}

select option {
  color: #212529;
}
